<div class="container">
    <div class="row">
        <div class="col-8">
            <form method="POST" action="/doctor/update/{{id}}">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" value="{{nombre}}">
                    <label for="fecha_de_nacimiento">Fecha de nacimiento</label>
                    <input type="date" class="form-control" name="fecha_de_nacimiento" value="{{fecha_de_nacimiento}}">
                    <label for="id_hospital">Hospital</label>
                    <select name="id_hospital" class="form-select">
                        <option value="{{id_hospital}}"> {{nombreHospital}}</option>
                        {{#each nombres}}
                        <option value="{{id}}">{{nombre}}</option>
                        {{/each}}
                    </select>
                    <label for="sueldo">Sueldo</label>
                    <input type="number" class="form-control" name="sueldo" value="{{sueldo}}" min="0">
                    <button type="submit" class="btn btn-primary">Modificar</button>
                </div>
            </form>
        </div>
    </div>
</div>